In [1]:
import pandas as pd
import json
import os

In [6]:
json_file = "purchase_data.json"

pymoli_pd = pd.read_json(json_file)

gaming_df = pd.DataFrame(pymoli_pd, columns =['SN','Age','Item ID','Item Name','Price'])
gaming_df.head()

,SN,Age,Item ID,Item Name,Price
0,Aelalis34,38,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,174,Primitive Blade,2.46
3,Pheusrical25,21,92,Final Critic,1.36
4,Aela59,23,63,Stormfury Mace,1.27

In [11]:
#Total players
length_players = len(gaming_df['SN'].value_counts())
df_total_players = pd.DataFrame({"Total Players": length_players}, index =[0])
df_total_players

   Total Players
0            573

# Purchasing Total

In [22]:
#Purchasing Analysis

#Number of Unique Items 
df_unique_items = len(gaming_df['Item Name'].value_counts())
df_unique_items
#Average Purchase Price
df_average_price = gaming_df['Price'].mean()
df_average_price
#Total Number of Purchases
df_Total_Purchase = len(gaming_df)
df_Total_Purchase
#Total Revenue
df_total_revenue = gaming_df['Price'].sum()
df_total_revenue
#dataframe
purchasing_Total = pd.DataFrame({"Unique Items":[df_unique_items],"Average Price":[df_average_price],"Total Purchase":[df_Total_Purchase],"Total Revenue":[df_total_revenue]}, index = [0])

#print
purchasing_Total

#improvements.. change to 2 decimal pts .. dollar signs etc..

   Average Price  Total Purchase  Total Revenue  Unique Items
0       2.931192             780        2286.33           179

# Gender DemoGraphics

In [50]:
pymoli_pd.head()
#total players = length_players = len(gaming_df['SN'].value_counts())
#group
players_grouped = pymoli_pd.groupby(["Gender"])
unique_players = players_grouped.nunique()


#total
total_gender = unique_players["SN"].sum()
#Percent and Count of Male Players
tCount = unique_players["SN"].unique()
tPercent = unique_players["SN"]/ length_players



#dataframe & Percentage and Count of Other / Non-Disclosed
tGender = pd.DataFrame({"% of Players": tPercent, "Result":tCount})
tGender

                       % of Players  Result
Gender
Female                     0.174520     100
Male                       0.811518     465
Other / Non-Disclosed      0.013962       8

# Purchasing Analysis (Gender)

In [55]:
#Purchase Count
tPurchase_count = unique_players["Gender"].value_counts()

#Average Purchase Price
averagePrice = players_grouped["Price"].mean()
#Total Purchase Value
tPurchase = players_grouped["Price"].sum()
#normalized Totals - don't understand this

#dataframe
pAnalysis_df = pd.DataFrame({"Purchase Count":tPurchase_count, "Average Purchase Price": averagePrice, "Total Purchase Value": tPurchase})
pAnalysis_df

/Users/zacharyquasney/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:5637: RuntimeWarning: '>' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

,Average Purchase Price,Purchase Count,Total Purchase Value
Female,2.815515,NaN,382.91
Male,2.950521,NaN,1867.68
Other / Non-Disclosed,3.249091,NaN,35.74
1,NaN,3.0,NaN